body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #990000;
    color: white;
    padding: 1em;
    text-align: center;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
}

footer {
    background-color: #990000;
    color: white;
    padding: 1em;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

ul {
    font-family: 'courier';
    list-style-type: disc;
}
li {
    font-family: 'courier';
    margin-bottom: 0.5rem;
    
}

.rounded-button {
	display: inline-block; 
    background-color: #990000; 
    color: #ffffff; 
    padding: 10px 20px; 
    text-decoration: none; 
    font-size: 16px;  
    border-radius: 20px; 
    transition: background-color 0.3s; 
	margin: 5px;
}

p {
    font-family: 'courier';
    font-size: 1rem;
    line-height: 1.6;
    margin-bottom: 1rem;
    color: #000000; 
}

h1 {
    font-family: 'palatino-linotype';
    text-align: center
}

h2, h3, h4, h5, h6 {
    font-family: 'palatino-linotype';
}

img {
    display: block;
    margin: 0 auto;
    width: 200px;
    height: 200px;
    object-fit: cover;
}

nav ul {
    list-style-type: none; 
    display: flex; 
    justify-content: center; 
}

